<div class="container">

    <section class="row mt-3">
        <div class="col-12">
            <h1>House Listings</h1>
        </div>
    </section>

    <form onsubmit="app.HousesController.createHouseListing()" class="col-6 mb-3 p-3 card">

        <div class="mb-2">
            <label for="houseYear">Year Built</label>
            <input id="houseYear" name="year" type="number" required min="1600" max="2025">
        </div>

        <div class="mb-2">
            <label for="bedrooms">Bedrooms</label>
            <input id="houseBedrooms" name="bedrooms" type="number" required min="0" max="100">
        </div>

        <div class="mb-2">
            <label for="bathrooms">Bathrooms</label>
            <input id="houseBathrooms" name="bathrooms" type="number" required min="0" max="100">
        </div>

        <div class="mb-2">
            <label for="sqft">Square Feet</label>
            <input id="houseSqft" name="sqft" type="number" required min="0" max="100000">
        </div>


        <div class="mb-2">
            <label for="price">Price</label>
            <input id="housePrice" name="price" type="number" required min="0" max="100000000">
        </div>

        <div class="mb-2">
            <label for="description">Description</label>
            <input id="houseDescription" name="description" type="text" rows="10" maxlength="10000" class="w-100"
                rows="10">
        </div>

        <div class="mb-2">
            <label for="houseOwnedOutright">Do you own this house outright?</label>
            <input type="checkbox" name="ownedOutright" id="houseOwnedOutright" name="houseOwnedOutright" />
        </div>

        <button type="submit">SUBMIT</button>

    </form>

    <section id="houseListings" class="row">

        <!-- <div class="col-10">
            <div class="bg-light rounded shadow-lg d-flex">
                <img class="w-50 rounded-start house-img"
                    src="https://images.unsplash.com/photo-1588880331179-bc9b93a8cb5e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y290dGFnZXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="picture of house">

                <div class="py-2 px-5">
                    <p class="fs-4">year built: 1999</p>
                    <p class="fs-4">bedrooms: 2</p>
                    <p class="fs-4">bathrooms: 2</p>
                    <p class="fs-4">1000 square feet</p>
                    <p class="fs-4">$325000</p>
                    <p class="fs-4">description: Welcome to your new home!</p>
                    <p class="fs-5">This property is owned outright.</p>
                    <p class="fs-5">'date listed'</p>
                </div>
            </div> -->


    </section>




</div>